@{
                Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<Blog.Models.Article>
@using PagedList.Mvc;
   <link rel="stylesheet" type="text/css" href="~/Content/indexstyle.css">
<body>
<div class="app-wraper">
<div class="header">
<h1>Блог про подорожі Христофора Колумба</h1>
</div>
<div class="sidebar">
<div class="categories">
 <strong>
                    <h1>Категорії</h1>
                    <section id="submenu">
                        <ul>

                            @foreach (var s in ViewBag.Categories)
                            {
                                <li><a href="/Category/Category/@s.CategoryId">@s.CategoryName</a></li>
                            }

                        </ul>
                    </section>
</div>
</div>
<div class="content">
<div class="posts">
<ul class="Articles clearfix">
                @foreach (var b in Model)
                {
                    <li class="product-wrapper">
                        <div class="product">
                            <img src="@Html.DisplayFor(modelItem=>b.path)" style="width:100%;height:150px;" />
                            @Html.DisplayFor(modelItem => b.Title)
                            @Html.DisplayFor(modelItem => b.Discription )
                            <br>
                            <a href="/More/More/@b.Id" class="button">Детальніше</a>

                        </div>
                    </li>

                }
            </ul> Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>
</div>
</div>
<div class="footer"></div>
</div>
</body>